<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head'); %>
<body>
  <%- include('./partials/nav'); %>
  <h1>Create a new Post</h1>
  <form id="contact-form" method="post" action="/add-post">
    <div class="form-info">
      <label>Post Title
        <input type="text" name="title">
      </label>
      <label>Author
        <input type="text" name="author">
      </label>
    </div>
    <div class="form-text">
      <label>Post Excerpt
        <textarea name="excerpt"></textarea>
      </label>
    </div>
    <div class="form-text">
      <label>Post Text (HTML)
        <textarea name="content"></textarea>
      </label>
    </div>
    <div class="form-button">
      <input type="submit" value="Submit">
    </div>
  </form>
</body>
</html>
